body {
  font-family: 'Open Sans', sans-serif;
  background: image-url("section_about.jpg") no-repeat center center fixed;
  background-size: cover;
  color: #fff;
  background-color: #333;
}

h1, h2, h3 {
  margin: 10px 0;
}

.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }
.top50 { margin-top:50px; }

.padding_b { padding-bottom:20px; }

.section_how_to_obtain {
  background: image-url("section_legal.jpg") no-repeat center center fixed;
}

.sweet_header {
  padding-top: 50px;
  text-align: center;
  height: 668px;
}

.sweet_header .img-responsive {
  margin: 0 auto;
}

.sweet_header h1 {
  font-size: 40px;
}

.sweet_product_feature {
  background-color: rgba(0,0,0,0.4);
  color: white;
  width: 350px;
}

.row-centered {
  text-align:center;
}

.col-centered {
  display:inline-block;
  float:none;
  margin-right: 22px;
  margin-left: 22px;
}

.content-grey {
  background-color: rgba(149,158,138,0.8);
  padding-top: 60px;
}

.content-white {
  padding-top: 60px;
}

.glyphicon-leaf, .glyphicon-tint {
  font-size: 6em;
}

.how-to-obtain {
  padding-top: 100px;
  height: 650px;
}

.jumbotron-header {
  background-color: rgba(0,0,0,0.4);
}

#flavors {
  padding-top: 100px;
}

.jumbotron-flavors {
  padding-left: 50px !important;
  padding-right: 50px !important;
}

.jumbotron-flavors h1 {
  font-size: 57px;
}

.flavor-nav {
  margin-left: 60px;
}

.flavor-nav div {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  padding-bottom: 10px;
  cursor: pointer;
}

.flavor-nav div:before {
  position: absolute;
  content: "";
  display: block;
  height: 7px;
  width: 7px;
  top: 2px;
  left: -15px;
  border-radius: 50%;
}

.flavor-nav div.first:before {
  background-color: #f3e5ab;
}

.flavor-nav div.second:before {
  background-color: #4941cc;
}

.flavor-nav div.third:before {
  background-color: #ffec89;
}
