.content-white#about
  .container
    .row
      %header
        = render "layouts/header"

        .col-lg-12.col-sm-12.sweet_header
          = image_tag "sweet.png", alt: "Sweet Leaf", class: "img-responsive",  :style => "max-width:462px; margin-top: 5px;"

          .row.top50.row-centered
            .col-lg-6.col-centered.sweet_product_feature.padding_b
              %h1.text-uppercase Cannibinoid
              Cannabinoids produced their physiological and behavioral effects
              %p.top10
                %i.glyphicon.glyphicon-tint
              %button.btn.btn-primary
                Get Here

            .col-lg-6.col-centered.sweet_product_feature.padding_b
              %h1.text-uppercase Marijuana
              Product is guaranteed to be pure and contain only the flavor Glycol
              %p.top10
                %i.glyphicon.glyphicon-leaf
              %button.btn.btn-primary
                Get Here

