.content-white#contact
  .container
    .row
      %article.col-md-7
        %h1
          %span.glyphicon.glyphicon-inbox
          Feedback / Comment us

        %form{:role => "form"}
          .form-group
            %label{:for => "username"} Full Name
            %input#username.form-control{:placeholder => "Enter your full name", :type => "text"}
          .form-group
            %label{:for => "email"} Email address
            %input#email.form-control{:placeholder => "Enter your email", :type => "email"}
          .form-group
            %label{:for => "description"} Description
            %textarea#description.form-control{:placeholder => "Tell us something...", :rows => "5"}

          %button.btn.btn-primary{:type => "submit"} Submit

      %aside.col-md-5
        .jumbotron.jumbotron-header.jumbotron-contact
          %h1
            %span.glyphicon.glyphicon-earphone
            Contact
          %p Your Information Inc.
          %br
          .flavor-nav
            .first Phone: xxxxxxxxxx
            .second Email: XXXXXXXXX
            .third Encrypted mail: XXXXXXXX