.content-white#flavors
  .container
    .row
      .col-md-4
        .jumbotron.jumbotron-header.jumbotron-flavors
          %h1
            %span.glyphicon.glyphicon-bullhorn
            Flavors
          .text-justify
            This product is guaranteed to be pure and contain only the flavor, Glycol (same all all E-Cigs) and active SGT-25. There is no THC or CBN compounds. Basically, threee flavors are available.
          %br
          .flavor-nav
            .first Vanilla
            .second Blueberry
            .third Pineapple

          %br
          %br
          %p
            %a.btn.btn-primary.btn-lg.text-uppercase{:href => "#", :role => "button"} Purchase now

      .col-md-8
        .jumbotron.jumbotron-header
          %h1
            %span.glyphicon.glyphicon-info-sign

            Flavors


          %p
          Product will be sent discretely to any country, and payment can be made through this website. These can be sent to a home or business address via tracked mail.
          %br
          %br
          %p
            %a.btn.btn-primary.btn-lg.text-uppercase{:href => "#", :role => "button"} Purchase now

