.content-white#flavors
  .container
    .row
      .col-md-4
        .jumbotron.jumbotron-header.jumbotron-flavors
          %h1
            %span.glyphicon.glyphicon-bullhorn
            Flavors
          .text-justify
            This product is guaranteed to be pure and contain only the flavor, Glycol (same all all E-Cigs) and active SGT-25. There is no THC or CBN compounds. Basically, threee flavors are available.
          %br
          .flavor-nav
            .first Vanilla
            .second Blueberry
            .third Pineapple

          %br
          %br
          %p
            %a.btn.btn-primary.btn-lg.text-uppercase{:href => "#", :role => "button"} Purchase now

      .col-md-8
        .row
          .col-md-2
          .col-md-4
            %a.thumbnail.thumbnail-custom{:href => "#"}
              = image_tag "http://placehold.it/170x100&amp;text=one", alt: "Sweet Leaf", :style => "height:200px;"
          .col-md-4
            %a.thumbnail.thumbnail-custom{:href => "#"}
              = image_tag "6.png", alt: "Sweet Leaf", class: "img-responsive", :style => "height:200px;"
        .row
          .col-md-4
          .col-md-4
            %a.thumbnail.thumbnail-custom{:href => "#"}
              = image_tag "http://placehold.it/170x100&amp;text=one", alt: "Sweet Leaf", class: "img-responsive", :style => "height:200px;"

