%header
  %nav.navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
    .navbar-header
      %button.navbar-toggle{"data-target" => "#menu_item", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    #menu_item.collapse.navbar-collapse
      %ul.nav.navbar-nav.pull-right
        %li.active
          %a{:href => "#"} About us
        %li
          %a{:href => "#"} Flavors
        %li
          %a{:href => "#"} Legal
        %li
          %a{:href => "#"} Contact
        %li
          %button.btn.btn-default.navbar-btn{:type => "button"} Purchase

  .col-lg-12.col-sm-12.event_header
    = image_tag "logo_eventcanister.png", alt: "Event Canister", class: "img-responsive"
    %h1 Sweet Leaf
    %p.text-warning
      Hey buddy, are you sick of marketing for your services/products in
      = succeed "?" do
        %span.twitter Twitter
    %br
      %p
        Lets talk
      #form_survey{:style => "display:none;"}
        %button.btn.btn-primary.btn-lg{:type => "button"}
          %span.glyphicon.glyphicon-hand-right
          Get Registered