.content-grey#how_to_obtain.how-to-obtain
  .container
    .row
      %aside.col-md-4
        = image_tag "4.png", alt: "Sweet Leaf", class: "img-responsive",  :style => "margin: 0 auto; padding-top: 70px;"

      %article.col-md-8
        .jumbotron.jumbotron-header
          %h1
            %span.glyphicon.glyphicon-info-sign

            How to Obtain?
          .text-justify
            This can be purchased through this website under the condition that this product is for research purposes and currently not approved for human consumption. But should a person choose through informed choice to vape this of drop the oil onto a cigarette then that will have to be your responsibility and choice. As with any such substance including marijuana, be informed, be responsible look out for your friends.

          %p
          Product will be sent discretely to any country, and payment can be made through this website. These can be sent to a home or business address via tracked mail.
          %br
          %br
          %p
            %a.btn.btn-primary.btn-lg.text-uppercase{:href => "/store", :role => "button"} Purchase now

