.content-grey#legal
  .container
    .row
      %article.col-md-8
        .jumbotron.jumbotron-header
          %h1
            %span.glyphicon.glyphicon-paperclip

            Legal
          .text-justify
            Different countries have different laws, basically most countries it is illegal to sell as a medical product, a food or as a psychoactive drug for recreational purposes. Laws are changing rapidly but the general crux is, it would be illegal to sell this product as a recreational drug. It is sort of legal to have unlisted Cannabinoids if it is for research purposes. Hence most products will state 'Not approved for Human Consumption'. This product cannot be sold for human consumption but we also believe that people should have access to information that is available to make informed choices.

          %br
          %br
          %p
            %a.btn.btn-primary.btn-lg.text-uppercase{:href => "#", :role => "button"} Read more

      .col-md-4
        = image_tag "law.png", alt: "Sweet Leaf", class: "img-responsive",  :style => "margin: 0 auto; padding-top: 10px;"



